@model Rembrandt.Web.ViewModels.ViennaDatasetViewModel
@{
    ViewData["Title"] = "Data";
}
<div id="map">
</div>
<br />
<div id="attributes">
    <select class="browser-default custom-select">
        @{
            for(int i =0; i < Model.AttributesNames.Count; i++)
            {
                <option value="@i">@Model.AttributesNames[i]</option>
            }
        }
    </select>
</div>

<script>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 48.2086649, lng: 16.3666573},
            zoom: 13
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpHpnK2Fgy1xVldrfRrcZHds8Yrr-Kik&callback=initMap&libraries=&v=weekly">
</script>