@{
    ViewData["Title"] = "Data";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select one of the areas on the map or find are for you by using form at the right.</p>
    <div>
        <svg width="445" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <defs>
        <linearGradient spreadMethod="pad" y2="0" x2="1" y1="0" x1="0" id="svg_1">
        <stop offset="0" stop-color="#fff"/>
        <stop offset="1" stop-color="#000000"/>
        </linearGradient>
        </defs>
        <g>
        <title>background</title>
        <rect fill="url(#svg_1)" id="canvas_background" height="602" width="447" y="-1" x="-1"/>
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
        <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
        </g>
        </g>
        <g>
        <image xlink:href="Images/map.png" id="svg_2" height="609" width="445" y="-4.5" x="0"/>
                <a href="location/1">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_3" cy="20" cx="257.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/0">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_5" cy="132" cx="133.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/2">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_6" cy="49" cx="157.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/30">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_7" cy="84" cx="230.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/10">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_8" cy="138" cx="187.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/26">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_9" cy="96" cx="280.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/3">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_10" cy="131" cx="239.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/23">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_11" cy="540" cx="153.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/4">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_12" cy="155" cx="310.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/27">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_13" cy="189" cx="173.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/8">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_14" cy="224" cx="128.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/6">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_15" cy="212" cx="264.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/11">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_16" cy="308" cx="271.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/149">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_17" cy="295" cx="179.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/5">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_18" cy="231" cx="306.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/14">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_19" cy="220" cx="292.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/7">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_20" cy="237" cx="235.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/16">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_21" cy="313" cx="135.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/17">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_22" cy="401" cx="137.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/24">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_23" cy="476" cx="147.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/20">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_24" cy="400" cx="233.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/12">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_25" cy="401" cx="281.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/22">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_26" cy="529" cx="264.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/13">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_27" cy="425" cx="257.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/19">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_28" cy="477" cx="230.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/28">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_29" cy="577" cx="256.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/18">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_30" cy="472" cx="180.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
                <a href="location/21">
                    <ellipse opacity="0.45" ry="11.5" rx="11.5" id="svg_31" cy="547" cx="194.75" stroke-width="1.5" stroke="#000" fill="#fff"/>
                </a>
            </g>
        </svg>
    </div>
</div>
