@model Rembrandt.Web.ViewModels.DatasetViewModel
@{
    ViewData["Title"] = "Data";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        var siteItds = new List<int>();
        foreach(var observation in Model.ObservationsDto)
        {
            if(!siteItds.Contains(observation.SiteId))
            {
                siteItds.Add(observation.SiteId);
            }
        }
    }
    @foreach(var id in siteItds.OrderBy(c => c))
    {
        <p>@id</p>
    }
</div>
